.contact-bg{
    background-image: url(../../img/contactUs-bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(151, 142, 123);
    background-blend-mode: multiply;
}